@charset "UTF-8";

.center {
  text-align: center;
  /*centerクラスを中央に表示させる*/
}

table{
	margin:auto;
	/*テーブルを中央に表示させる*/
	border:1px black solid;
    border-collapse: collapse;
    width: 80%;
}
th,td{
    border:1px black solid;
    text-align: center;
}