@charset "UTF-8";

body {
	margin: 0 0 0 0;
	padding: 100px 0 100px 0;
	color: black;
	font-size: 16px;
	padding-left: 50px;
	margin-bottom: -200px;
}

header {
	position: fixed; /* ヘッダーを固定する */
	top: 0; /* 上部から配置の基準位置を決める */
	left: 0; /* 左から配置の基準位置を決める */
	width: 100%; /* ヘッダーの横幅を指定する */
	height: 40px; /* ヘッダーの高さを指定する */
	padding: 10px;
	background-color: #98d98e;
}

.pagetitle {
	border: solid;
	width: 200px;
	height: 70px;
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
}

.footer {
	position: fixed;
	bottom: 0; /* 上部から配置の基準位置を決める */
	left: 0; /* 左から配置の基準位置を決める */
	width: 100%; /* フッターの横幅を指定する */
	height: 70px; /* フッターの高さを指定する */
	padding: 10px; /* フッター内側の余白を指定する(上下左右) */
	text-align: center;
	background-color: #98d98e;
	color: black;
}

.footer_hone img {
	width: 80px;
	height: 55px;
}
/*画面を中央寄せ*/
.wrapper {
	margin: 0 auto 0 auto;
	/* 中央揃え */
	width: 800px;
	/* 幅を固定 */
}
#nav li {
	display: inline;
	/* インラインで横に表示する */
	list-style-type: none;
	/* 先頭の記号をなくす */
	padding-right: 30px;
	/* 区切りを空ける */
}
/*メニューナビ*/
#nav li a:link {
	text-decoration: none;
}
#nav li a:visited {
	text-decoration: none;
}
#nav li a:hover {
	color: skyblue;
	text-decoration: none;
}
#nav li a:active {
	color: blue;
	text-decoration: none;
}