@charset "UTF-8";

.img {
	text-align: right;
	padding: 0 60px 0 0;
}

.img2 {
	display: flex;
	justify-content: space-around;
	margin-left: 290px;
}

.back {
	text-align: center;
	outline: solid 2px #006e54;
	width: 200px;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.back a:link{
  color:#1f3134;
  text-decoration:none;
}
.back a:visited{
  color:#3c454d;
  text-decoration:none;
}

.back a:hover{
  color:#7b8dac;
  text-decoration:none
}

.back a:active{
  color:#5a9bc0;
  text-decoration:none;
}
.honbun{
border : 1px solid #00552E ;
	padding : 10px ;
	height : 50px ;
}


#center {
	margin: auto;
}