@charset "UTF-8";

#regichan {
 margin: auto;
 margin-top:60px;
}

.center {
   text-align: center;
  /*centerクラスを中央に表示させる*/
}
.label{
	text-align: right;
}
.btn{
	margin-top: 20px;
}
.loginbc{
	text-align: right;
}
.req::after {
	content: "必須";
	background-color: red;
	color: white;
	font-size: 12px;
}